* {
	padding: 0;
}
body {
	background: #999;
	max-width: 1000px;
	margin: 0 auto;
}
nav {
	text-align: center;
}
h2 {
	color: white;
	text-align: center;
}
li {
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0;
}
a {
	color: green;
}
