* {
	padding: 0;
}
body {
	background: #ff6;
	max-width: 1000px;
	margin: 0 auto;
	font-family: helvetica, arial, san-serif;
}
nav {
	text-align: center;
}
h2 {
	color: white;
	text-align: center;
}
li {
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0;
}
a {
	color: green;
}